@media only screen and (max-width: 1400px) {
    .btn.btn-secondary {
      width: 92%;
      /* height: 80%; */
      padding: auto;
      /* margin: 5px 15px; */
      border-radius: 3px;
      margin: 0;
    }
  }
  